@import "null.scss";
@import "mixins.scss";

body {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    .wrapper {
        overflow: hidden;

        .container {
        }
    }
}

body.active {
    overflow: hidden;
    &::before {
        content: "";
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1000vh;
        z-index: 3;
        background-color: #212121d7;
    }
}

@import "burger.scss";
@import "header.scss";
@import "1_block.scss";
@import "2_block.scss";
@import "3_block.scss";
@import "4_block.scss";
@import "5_block.scss";
@import "footer.scss";

@import "fonts.scss";
